@{
    ViewData["Title"] = "Home Page";
}


<div class="container my-5">
    <div class="row align-items-center">
        <!-- Formulario -->
        <div class="col-md-6">
            <h4 class="mb-4 fw-bold">Inicia sesión en tu cuenta</h4>

            <!-- Botones de tipo de usuario -->
            <div class="btn-group mb-4 w-100" role="group">
                <button class="btn w-100 py-2 text-white rounded-3" style="background-color: #2C3E50">Estudiante o Padre</button>
                <span class="mx-2">o</span>
                <button class="btn w-100 py-2 text-white rounded-3" style="background-color: #2C3E50">Administrador</button>
            </div>

            <!-- Formulario -->
            <form method="post" asp-controller="Home" asp-action="Index">
                <div class="mb-3">
                    <label for="nombreUsuario" class="form-label">Id Estudiante</label>
                    <input type="text" class="form-control form-control-lg rounded-3" id="nombreUsuario" name="nombreUsuario" placeholder="Ingrese Id del estudiante" />
                </div>

                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña</label>
                    <input type="password" class="form-control form-control-lg rounded-3" id="contrasena" name="contrasena" placeholder="Ingrese la contraseña" />
                </div>

                <button type="submit" class="btn w-100 py-2 text-white rounded-3" style="background-color: #2C3E50; border: none;">Ingresar</button>
                <div asp-validation-summary="All" class="text-danger mt-2"></div>
            </form>

            <div class="d-flex justify-content-between mt-3">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <a href="#">¿No tienes cuenta? <strong>Regístrate</strong></a>
            </div>
        </div>

        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="/img/1. Main.jpg" alt="Login ilustración" class="img-fluid img-rounded-custom shadow-sm" />
        </div>
    </div>
</div>