@{
    ViewData["Title"] = "Inicio Principal";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}


<div class="container py-5">
    <h1 class="fw-bold">Bienvenido</h1>
    <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisi vel tincidunt consequat,
        elit metus hendrerit neque, at dignissim nisl eros sed urna. Nulla facilisi.
        Donec vitae sapien eu justo laoreet feugiat nec eget elit.
    </p>
    <a class="btn btn-dark mb-5" href="#">Más Información</a>

    <div class="card border-0 shadow-sm">
        <img src="~/img/2. Main.jpg" alt="Niños estudiando" class="img-fluid rounded" />
    </div>
</div>